body {
    background: linear-gradient(135deg, #153677, #4e085f);
    height: 800px;
}

.container {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 12px;

    .content {
        display: flex;
        justify-content: space-between;
    }

    input {
        border: 2px solid orange;
        border-radius: 8px;
        width: 500px;
    }

    .add-btn {
        width: 80px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 8px;
        margin-left: 5px;
        padding: 12px;
    }


    .list-text {
        margin: 5px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(226, 226, 226);
        border-radius: 8px;

        button {
            background-color: orange;
            color: white;
            border: none;
            border-radius: 8px;
            margin-left: 5px;
            padding: 12px;
        }
    }
}